apischema==0.16.1
strawberry-graphql[opentelemetry]==0.80.2
databases[sqlite]==0.5.0
# sqlalchemy version set by databases
sqlalchemy
starlette==0.16.0
typing-extensions==3.10.0.2
uvicorn[standard]==0.13.4
